Обновление таблицы Демографічні параметри населення України у 2010-2050 роках.

https://population.un.org/wpp/Download/Standard/CSV/

In [1]:
import pandas as pd

In [2]:
pop=pd.read_csv("https://population.un.org/wpp/DVD/Files/1_Indicators%20(Standard)/CSV_FILES/WPP2017_TotalPopulationBySex.csv")

In [4]:
pop.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.118
1,4,Afghanistan,2,Medium,1951,1951.5,4134.477,3705.031,7839.510
2,4,Afghanistan,2,Medium,1952,1952.5,4173.993,3760.979,7934.980
3,4,Afghanistan,2,Medium,1953,1953.5,4217.860,3820.747,8038.596
4,4,Afghanistan,2,Medium,1954,1954.5,4266.104,3884.348,8150.447

In [5]:
pop.Variant.unique()

array(['Medium', 'High', 'Low', 'Constant fertility',
       'Instant replacement', 'Zero migration', 'Constant mortality',
       'No change', 'Momentum'], dtype=object)

In [55]:
years=pop[(pop.Location=='Ukraine')&(pop.Variant=='No change')].Time
poptotal=pop[(pop.Location=='Ukraine')&(pop.Variant=='No change')].PopTotal
Ukrpopulation=pd.DataFrame(index=years,data=poptotal.values,columns=['UkrPop'])

Ukrpopulation.head()

         UkrPop
Time
1950  37297.648
1951  37815.815
1952  38360.509
1953  38916.264
1954  39471.674

In [54]:
Ukrpop=Ukrpopulation[Ukrpopulation.index % 5==0]
Ukrpop.head()

         UkrPop
Time
1950  37297.648
1955  40019.449
1960  42662.149
1965  45261.935
1970  47086.761

In [71]:
#pd.pivot_table(df, values = 'Value', index=['Country','Year'], columns = 'Indicator').reset_index()
Ukrpop=Ukrpop.pivot_table(values='UkrPop',columns='Time')
Ukrpop

Time,1950,1955,1960,1965,1970,1975,1980,1985,1990,1995,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
UkrPop,37297.648,40019.449,42662.149,45261.935,47086.761,48758.987,49968.812,50920.778,51464.348,50905.677,...,29904.43,27929.121,26031.032,24254.337,22636.683,21189.175,19879.218,18650.441,17466.627,16333.909

In [36]:
poptotal=pop[(pop.Location=='World')&(pop.Variant=='No change')].PopTotal
Worldpopulation=pd.DataFrame(index=years,data=poptotal.values,columns=['WorldPop'])
Worldpop=Worldpopulation[Worldpopulation.index % 5==0]
Worldpop=Worldpop.pivot_table(values='WorldPop',columns='Time')
Worldpop

Time,1950,1955,1960,1965,1970,1975,1980,1985,1990,1995,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
WorldPop,2536274.721,2772242.535,3033212.527,3339592.688,3700577.65,4079087.198,4458411.534,4873781.796,5330943.46,5751474.416,...,1.073460e+07,1.126086e+07,1.185632e+07,1.253964e+07,1.333063e+07,1.425015e+07,1.531893e+07,1.655817e+07,1.799240e+07,1.965168e+07

In [74]:
allpop=Worldpop.append(Ukrpop)
allpop.to_excel('worldpop.xlsx')

**Probabilistic projection of total population (both sexes combined) by region, subregion, country or area, 2015-2100 (thousands) **[Link for all downloads](https://population.un.org/wpp/Download/Probabilistic/Population/)

In [40]:
gdp = pd.read_excel("API_NY.GDP.MKTP.CD_DS2_en_excel_v2_10576589.xls",skiprows=3)
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.243909e+10,1.585657e+10,1.780429e+10,1.990732e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.904636e+10,1.954398e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.030716e+10,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204421e+10,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322825e+10,1.138693e+10,1.188368e+10,1.303854e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09,NaN

In [67]:
co=['World','Ukraine']
gdptable=gdp.loc[gdp['Country Name'].isin(co)]
gdptable.to_excel('gdp.xlsx')

In [ ]:
#https://population.un.org/wpp/Download/Standard/Population/